@define-color blue #3e8fb0;
@define-color green #22dd22;

* {
    font-size: 16px;
    font-family: "JetBrainsMono Nerd Font", monospace;
}

window#waybar {
    background-color: black;
    color: white;
}

#workspaces button {
    padding: 0 8px;
    color: white;
    background: transparent;
}

#workspaces button.active {
    color: #000000;
    background-color: @blue;
}

#workspaces button:not(.empty):not(.focused) {
    border-bottom: 3px solid @blue;
}

#workspaces button.urgent {
    color: orange;
    font-weight: bold;
}

#disk.warning,
#battery.warning {
    color: orange;
}

#disk.critical,
#battery.critical {
    color: red;
}

#battery.charging {
    color: @green;
}

#tray,
#cpu,
#memory,
#disk,
#wireplumber,
#battery,
#backlight,
#network,
#bluetooth {
    padding: 0 5px;
}
